<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple URL Shortener</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

    <div class="container">

        <h1>🔗 TinyURL</h1>

        <div class="hero">
            <div>
                <h2>Create Shareable Links</h2>
                <p>
                    Track clicks, expiration,
                    and analytics.
                </p>
            </div>
        </div>

        <form th:action="@{/shorten-web}" method="post">

            <div>
                <label for="longUrl">Enter a long URL to shorten:</label>
            </div>

            <div>
                <input type="text" id= "longUrl" name= "longUrl" size= "50" placeholder= "https://example.com/very/long/url" required>
            </div>

            <div>
                <label for= "customAlias">Enter a custom alias (optional):</label>
            </div>

            <div>
                <input type="text" id= "customAlias" name= "customAlias" size= "50" placeholder="e.g., my-awesome-event" >
            </div>

            <div class="error-box" th:if="${AliasError}">
                <p th:text="${AliasError}"></p>
            </div>

            <div>
                <label for="hoursToExpire"> Expiration Time (Hours) (Optional):</label>
            </div>

            <div>
                <input type="number" id="hoursToExpire" name="hoursToExpire" min="1" placeholder="e.g. 24">
            </div>

            <div>
                <input type="submit" value="Shorten URL!" class="btn">
            </div>

        </form>

        <div class="result" th:if="${shortUrlResult != null}">
            <h2>✅ Link Generated Successfully</h2>

            <p>
                Original URL:
                <span th:text="${originalUrl}">https://example.com/original-url-goes-here</span>
            </p>

            <div class="short-url-box">
<!--                Short URL:-->
                <a th:href="${shortUrlResult}"
                   th:text="${shortUrlResult}"
                   target="_blank">
                </a>

                <button
                        class="copy-btn"
                        type="button"
                        onclick="copyShortUrl(this)"
                >
                    Copy
                </button>
            </div>

        </div>

        <hr>

        <h2>Check Link Statistics</h2>

        <form th:action="@{/check-stats}" th:method="post">

            <div>
                <label for="checkShortCode">Enter a short code/Alias(Which already exits) to check its stats:</label>
            </div>

            <div>
                <input type="text" id="checkShortCode" name="checkShortCode" size="30" placeholder="e.g.., aB1cDe" required>
            </div>

            <div>
                <input type="submit" value="Check Stats" class="btn">
            </div>

        </form>

        <div
            class="error-box"
            th:if="${statsError}">

            <p th:text="${statsError}"></p>
        </div>

        <div class="stats-box" th:if="${urlStats != null}">

            <h2>📊 Link Analytics</h2>
<!--            <h3>Statistics</h3>-->

            <div class="stats-row">
                <span class="stats-label">Original URL:</span>
                <a th:href="${urlStats.originalUrl}" th:text="${urlStats.originalUrl}" target="_blank"/>
            </div>

            <div class="stats-row">
                <span class="stats-label">Short URL:</span>
                <a th:href="${urlStats.shortUrl}" th:text="${urlStats.shortUrl}" target="_blank"/>
            </div>

            <div class="stats-row">
                <span class="stats-label">Created Date:</span>
                <span th:text="${#temporals.format(urlStats.creationDate, 'dd MMMM yyyy HH:mm:ss')}"></span>
            </div>

            <div class="stats-row">
                <span class="stats-label"> Expiration Date: </span>

                <span
                    class="success-badge"
                    th:if="${urlStats.expirationDate == null}"
                >
                    Never Expires
                </span>

                <span
                    th:if="${urlStats.expirationDate != null}"
                    th:text="${#temporals.format(urlStats.expirationDate, 'dd MMMM yyyy HH:mm:ss')}"
                >
                </span>

            </div>

            <div class="stats-row">
                <span class="stats-label">Last Accessed :</span>
<!--                Handle Never Opened Links Suppose: Clicks = 0, Then,lastAccessedAt shows null, its look dirty, replace null with never opened-->

                <span
                    class="info-badge"
                    th:if="${urlStats.lastAccessedAt == null}"
                >
                    Never Opened
                </span>

                <span
                    th:if="${urlStats.lastAccessedAt != null}"
                    th:text="${#temporals.format(urlStats.lastAccessedAt(), 'dd MMMM yyyy HH:mm:ss')}"> </span>
            </div>

            <div class="stats-row">
                <span class="badge">
                    <span class="stats-label">Clicks:</span>
                    <span th:text="${urlStats.clickCount}"></span>
                </span>
            </div>

        </div>

    </div>

    <footer class="footer">

        <div class="footer-content">

            <h3>🔗 TinyURL</h3>

            <p>
                Create shareable links, track analytics,
                and manage expiration dates effortlessly.
            </p>

            <div class="tech-stack">

                <span>Spring Boot</span>
                <span>Thymeleaf</span>
                <span>MySQL</span>
                <span>JPA</span>
                <span>Hibernate</span>

            </div>

            <p class="copyright">
                © 2026 TinyURL Project • Built by Fenil Savaliya
            </p>

        </div>
    </footer>

    <script th:src="@{/script.js}"></script>
</body>
</html>
